
.action-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
	    padding: 0.005rem .75rem;
}

#actions {
		padding-left:10px;
}

.progress-bar{
	color: #000000;
}
.leaderboard-user-row {
  background-color: lightgreen;
}

form { background: #000; padding: 3px; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; height: 400px; border: 1px solid; }
#messages li { padding: 1px 5px; }
#messages li:nth-child(odd) { background: #eee; }

#notifications { list-style-type: none; margin: 0; padding: 0; height: 400px; border: 1px solid; }
#notifications li { padding: 1px 5px; }
#notifications li:nth-child(odd) { background: #eee; }

/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page, .dead.page, .sendgoods.page {
  background-color: #000;
}

.login.page .form, .dead.page .form, .sendgoods.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput, .sendgoods.page .form .sendgoods {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title, .sendgoods.page .title {
  font-size: 200%;
}

.login.page .usernameInput, .sendgoods.page .sendgoods {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput, .sendgoods.page .title, .sendgoods.page .sendgoods {
  color: #fff;
  font-weight: 100;
}

.dead.page {
  color: red;
  font-weight: bold;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 100%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.notificationsArea {
  height: 100%;
  padding-bottom: 60px;
}

.notifications {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.notificationsBody {
	/*display: block;*/
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  right: 0;
  width: 100%;
}

.error-message {
	padding-top: 20px;
	color: red;
}

.progress {
	margin-top: -20px;
}

.action-level-label {
  position: absolute;
  width: 100px;
  left: -10px;
  text-align: center;
  font-size: 16px;
  font-family: arial;
  display: block;
}

.action-progress-label {
  display: -webkit-box;
  margin-left: 15px;
  margin-top: -15px;
}

#action_div1 {
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.btn-action-list:hover + .dropdown-content, .dropdown-content:hover {display: block;}

/* for action dropdown */
.action-nav-div{      padding-inline-start: 10px;
}
.action-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.action-nav li{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.action-nav li:hover {
  background-color: #555;
  color: white;
}
